.button {
  border: none;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
  background-color: var(--cl-darkGold);
  color: var(--cl-white);
  font-family: var(--font-Paragraph);
}

.button:hover {
  background-color: var(--cl-darkBlue);
  color: var(--cl-white);
  /* Changes to a lighter shade of gold */
  transform: scale(1.1);
  /* Grows slightly on hover */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  /* Adds a subtle shadow */
}
